@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');

.App {
    font-family: 'Times New Roman', Times, serif;
}
.App h1, .App h2 {
    font-family: Playfair Display SC;
    color: #000000;
}